.card {
    border: 1px solid #efefef;

}

.title {
    padding: 20px 0 5px 0;
}

.poster img{
    width: 150px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10%;
}


.link {
   padding-top: 10px;
   padding-left:20px;
}
