.card {
    border: 1px solid lightgrey;
    width: 250px;

}

.title {
    padding: 20px 0 5px 0;
}

.poster img{
    width: 150px;
    border-radius: 25%;
    margin: 5px;
}


.link {
    height:50px;
}
