.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1rem;   /* Height of the footer */
}

.footer-container {
    border-top: 1px solid currentColor;
    padding: 55px 40px;
    margin: 0 auto;
    background-color: rgb(28, 47, 75);
    color: rgb(247, 247, 243);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu {
    flex: 1;
    max-width: 50%;
    margin-bottom: 25px;
}

.footer-menu-item, .copyright{
    padding: 12px 0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
}

.social-stuff {
    text-align: center;
    margin-bottom: 30px;
}

.footer-social-link{
    margin-left: 0;
}


.copyright{
    text-align: center;
}