.FormWrapper {
    align-content: left;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid;
}

.FormContainer {
    box-sizing: border-box; 
    display: flex;
    justify-content: flex-start;
    align-items: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 5px;
    padding:10px;
}


.FormContainer .primary-button {
    width: 100%;
    margin: 0px;
    align-content: center;
}