/* MAIN CONTAINER - FLEXBOX */
.homeMainImageWrapper {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0px;
    border-bottom: 1px solid currentColor;

}


/* FIRST CHILD - FLEXBOX*/

.left_side {
    border-right: 1px solid currentColor;
    width: 50%;
    height: 100%;
    padding: 75px;
}


.left_side img {
    width: 100%;
    float: left;
    overflow: hidden;
}


/* SECOND CHILD - FLEXBOX*/
.right_side {
    width: 50%;
    height: auto;
    padding: 72px;
}

.right_side .h3_home {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}