.movies-main-container{
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    column-gap: 20px;
    row-gap: 120px;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

