/* MAIN PARENT FLEXBOX */
.movie-wrapper {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

/* SECOND PARENT INSIDE MAIN FLEXBOX I */
.reviews-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.review-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SECOND PARENT INSIDE MAIN FLEXBOX II */
.column-review {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.review-form {
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
}

#hide {
    display: none;
}