.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: pink;
    width: 100vw;
    padding: 20px;
    margin-bottom: 20px;

}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.header-left img {
    width: 250px;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.header-right h1 {
    font-size: 16px;

}

.total-reviews {
    padding: 10px 0;
    font-size: 14px;
}

.total-out-of {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
}