/* HIDDEN MENU BUTTON */
.hide {
    display: none;
}

/* MAIN CONTAINER */
.nav {
    width: 100%;
    height: 100%;
} 

/* FIRST PARENT CONTAINER - FLEX ROW*/
.row {
    margin-top: 10px;
    display: flex;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* CHILDREN OF FLEX BOX PARENT - row */
.row-item {
    flex-basis: 100%;
}

/* LEFT */
.active-icon {
    color: #000;
    border-width: 0;
    border-style: solid;
    background-color: rgb(238, 232, 222);
    margin: 12px;
    flex-grow: 1;
    flex-basis: 0;
}

/* CENTER */
.row .header {
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: oblique;
    color: rgb(28, 47, 75);
    display: flex;
    justify-content: center;
}

/* RIGHT */
.nav .row .right {
    flex-grow: 1;
    flex-basis: 0;
}

/* ROW OF LINKS */
.nav .menu {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10;
    flex: 1;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(28, 47, 75);
    background-color: darkseagreen;

}

.nav .menu a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: none;
    color: black;
}


.nav .menu a:visited{
    color: rbg(135,64,37);
}

.nav .menu a:hover{
    color: rgb(153, 134, 114);
    text-decoration: gray wavy underline;
}





/* HIDDEN SIDEBAR */

/* SECOND PARENT CONTAINER - FLEX COLUMN*/

.menu-container #hidden {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-top: 2px solid #2A2B2A;
    border-bottom: 1px solid #2A2B2A;
    list-style: none;
    width: 100%;
    border-right: 1px solid currentColor;
    transition: 0.5s ease;
    padding: 8px 0 0;
    overflow-y: scroll;
    height: 100vh;
    background-color: thistle;
    cursor: pointer;
}



/* FIRST CHILD - MENU + CLOSE BUTTON */
.menu-container .menu-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: cadetblue;
}

.menu-title {
    justify-content: flex-start;
}

.menu-close {
    justify-content: flex-end;
}

.menu-container span {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    background-color: burlywood;
    margin: 10px;
}

.nav #hidden a {
    font-size: 20px;
    color: #002554;
    display: block;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid currentcolor;
    background-color: blue;

}

@media only screen and (max-width: 1000px) {
    .nav .menu a{
        font-size: 70%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 850px*/

@media only screen and (max-width: 750px) {
    .row .hide {
        display: flex;
        margin: 10px;
    }

    .nav .menu {
        border: none;
    }

    .nav .menu a {
        display: none;
    }
}

/* MENU BUTTON */
/* When the screen shrinks to the point where the menu options become smushed we want to display a button instead */
/* This turns the MENU BUTTON off. We only want it on when the screen gets too small. */




