/* HIDDEN MENU BUTTON */
.hide {
    display: none;
}

/* MAIN CONTAINER */
.nav {
    width: 100%;
    height: 100%;
} 

/* FIRST PARENT CONTAINER - FLEX ROW*/
.row {
    margin-top: 10px;
    display: flex;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* CHILDREN OF FLEX BOX PARENT - row */
.row-item {
    flex-basis: 100%;
}

/* LEFT */
.active-icon {
    color: #000;
    border-width: 0;
    border-style: solid;
    background-color: rgb(238, 232, 222);
    margin: 12px;
    flex-grow: 1;
    flex-basis: 0;
}

/* CENTER */
.row .header {
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-style: oblique;
    color: rgb(28, 47, 75);
    display: flex;
    justify-content: center;
}

/* RIGHT */
.nav .row .right {
    flex-grow: 1;
    flex-basis: 0;
}

/* .test input {
    align-items: center;
    justify-content: center;
    background-color: #1e2525;
    border: none;
    width: 100px;
    padding: 3px 8px;
    margin: 20px;
    font-size: 12px;
    border-radius: 0;
    height: 25px;
    color: whitesmoke;
    line-height: 1;
    text-transform: uppercase;
} */

/* ROW OF LINKS */
.nav .menu {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10;
    flex: 1;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(28, 47, 75);
}

.nav .menu a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: none;
    color: black;
}


.nav .menu a:visited{
    color: rbg(135,64,37);
}

.nav .menu a:hover{
    color: rgb(153, 134, 114);
    text-decoration: gray wavy underline;
}





/* HIDDEN SIDEBAR */

/* SECOND PARENT CONTAINER - FLEX COLUMN*/

.menu-container #hidden {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-top: 2px solid #2A2B2A;
    border-bottom: 1px solid #2A2B2A;
    border-right: 1px solid currentColor;
    list-style: none;
    width: 100%;
    transition: 0.5s ease;
    overflow-y: scroll;
    height: 100vh;
    cursor: pointer;
    background-color: rgb(237, 230, 219);
}


/* FIRST CHILD - MENU + CLOSE BUTTON */
.menu-container .menu-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.menu-title {
    justify-content: flex-start;
    margin: 10px;
}

.menu-close {
    justify-content: flex-end;
}

/* SPANS SURROUNDING MENU + CLOSE BUTTONS */
.menu-container span {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    margin: 10px;
}


/* SECOND CHILD - MENU ITEMS */

.menu-container .menu-column {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
}

#hidden a {
    font-size: 20px;
    color: #002554;
    text-decoration: none;
    width: 100%;
    padding: 11px 25px;
}

@media only screen and (max-width: 1000px) {
    .nav .menu a{
        font-size: 70%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 850px*/

@media only screen and (max-width: 750px) {
    .row .hide {
        display: flex;
        margin: 10px;
    }

    .nav .menu {
        border: none;
    }

    .nav .menu a {
        display: none;
    }
}

/* MENU BUTTON */
/* When the screen shrinks to the point where the menu options become smushed we want to display a button instead */
/* This turns the MENU BUTTON off. We only want it on when the screen gets too small. */




