.review_card {
    flex: 0 1 30%;
    border: 1px solid;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    height: 300px;
    width: 300px;
}

.rating-score {
    display: flex;
    flex-direction: row;
}

.review-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    letter-spacing: .5px;
    padding: 20px 0 0 0;
}

.name {
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.description {
    font-size: 15px;
}