.wrap {
    position: absolute;
    z-index: 9999;
    text-align: center;
    width:100%;
    left:0;
    height: 95px;
}

.search-open {
    position: fixed;
    transition: height .2s ease-in-out;
    position: relative;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0);
}

.remove-search {
    position: absolute;
    right: 30px;
    top: 35px;
    color: black;
    width: 15px;
}

.searchform {
    overflow: hidden;
    position: relative; 
}

.search-input {
    border: 1px solid currentColor;
    font-size: 1.3em;
    border-radius: 0;
    max-width: 100%;
    margin: 7px 0;
    color: rgba(255,255,255,0);
    font-family: "Caslon Old Face",serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 70px 0 30px;
    height: 110px;
    outline: none;

}

