.App {
    width: 100vh;
    height: 100vh;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.content-wrap {
  flex: 1;
  }

.main-container {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 232, 222);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    text-align: left;
}


button:hover {
    cursor: pointer;
}

input {
    appearance: none;
    display: block;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 0;
    height: 36px;
    color: #1e2525;
}

.primary-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2525;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100px;
    padding: 3px 8px;
    margin: 20px;
    font-size: 15px;
    border-radius: 0;
    height: 36px;
    color: whitesmoke;
}

.title {
    font-family: 'Montagu Slab', serif;
    font-size: 2.5rem;
    font-style: italic;
}

ul {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
}

h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.icon {
    color: black;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    margin: 25px;
}

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


/* HIDDEN MENU BUTTON */
.hide {
    display: none;
}


/* MAIN CONTAINER */
.nav {
    width: 100%;
    height: 100%;
} 

/* FIRST CONTAINER - FLEX*/
.row {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* LEFT */
.nav .row .left {
    flex-grow: 1;
    flex-basis: 0;

}

/* CENTER */
.row .header {
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: oblique;
    color: rgb(102, 43, 56);
    top: 16px;
    left: 44%;
    display: inline-flex;
}

/* RIGHT */
.nav .row .right {
    align-items: center;
}


/* ROW OF LINKS */
.nav .menu {
    display: flex;
    justify-content: center;
    margin-top: 10;
}

.nav .menu a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}


.nav .menu a:visited{
    color: rgb(212, 149, 80);
}

.nav .menu a:hover{
    color: rgb(153, 134, 114);
    text-decoration: gray wavy underline;
}

.nav #hidden {
    position: fixed;
    border-top: 2px solid #2A2B2A;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

.nav #hidden a {
    font-size: 20px;
    color: #002554;
    padding: 2px;
    padding: 1rem;
    display: block;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .nav .menu a{
        font-size: 70%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 850px*/

@media only screen and (max-width: 750px) {
    .row .hide {
        display: flex;
    }
    
    .nav .menu a {
        display: none;
    }
}

/* MENU BUTTON */
/* When the screen shrinks to the point where the menu options become smushed we want to display a button instead */
/* This turns the MENU BUTTON off. We only want it on when the screen gets too small. */




