.App {
    width: 100%;
    height: 100%;
    background-color: rbg(232, 224, 207);
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.nav {
    font-size: 35px;
    width: 100%;
    height: 80px;
    display: flex;
}

.header {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: oblique;
    color: rgb(102, 43, 56);
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

ul {
    list-style-type: none;
}

.nav .right a{
    color: rgb(161, 102, 107);
    text-decoration: none;
    margin: 25px;
    font-size: 30px;
}

.nav .right {
    flex: 75%;
    display: flex;
    justify-content: flex-end;
    max-height: 80px;
    align-items: center;
    flex-direction: row;
    padding-right: 25px;
}

.nav .right a:visited{
    color: rgb(212, 149, 80);
    text-decoration: none;
}

.nav .right a:hover{
    color: rgb(153, 134, 114);
    text-decoration: gray wavy underline;
}

.hide button {
    display: none;
    margin: 25px;
    height: 30px;
}



/* .nav .right input {
    width: 230px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 5px;
    color: black;
} */

/* .nav button #right {
    height: 32px;
    width: 70px;
    font-size: 15px;
} */

.nav #hidden {
    position: absolute;
    border-top: 3px solid #2A2B2A;
    left: 0px;
    top: 80px;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-height: 300px;
    margin: 0px;
}

.nav #hidden a {
    font-size: 20px;
    padding: 2px;
    display: block;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .nav .right a{
        font-size: 70%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 850px*/

@media only screen and (max-width: 850px) {
    .nav .right a{
        font-size: 50%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 750px*/


@media only screen and (max-width: 620px) {
    .hide button {
        display: flex;
    }
    
    .nav .right a {
        display: none;
    }
}

/* MENU BUTTON */
/* When the screen shrinks to the point where the menu options become smushed we want to display a button instead */
/* This turns the MENU BUTTON off. We only want it on when the screen gets too small. */





.title {
    font-family: 'Montagu Slab', serif;
    font-size: 35px;
    font-style: italic;
}

.modalContainer {
    font-family: 'Lato', sans-serif;
}