.App {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.nav {
    background-color: darkslategrey;
    color: whitesmoke;
    font-size: 45px;
    width: 100%;
    height: 80px;
    font-family: 'Playfair Display', serif;
    display: flex;
}

.nav .left {
    flex: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* flex % will divide the space into two responsive sides */


.nav .left .links {
    max-height: 80px;
}

.nav .left .links a{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 15px;
    font-size: 35px;
}

.nav .left .links a:visited{
    color: rgb(212, 149, 55);
    text-decoration: none;
}

.nav .left .links a:hover{
    color: rgb(153, 134, 114);
    text-decoration: gray wavy underline;
}

.nav .left button {
    display: none;
}

.nav .right {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

.nav .right input {
    width: 225px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 15px;
    color: black;
}

.nav .right button {
    height: 32px;
    width: 70px;
    font-size: 16px;
}

.nav .left #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 230px;
    font-size: 25px;
}

.nav .left #hidden a {
    margin: 2px;
    font-size: 25px;
}

@media only screen and (max-width: 850px) {
    .nav .left .links a{
        font-size: 20px;
    }
}
/* stuff inside here will only appear when the screen shrinks below 850px*/

@media only screen and (max-width: 750px) {
    .nav .left .links a{
        font-size: 15px;
    }
}
/* stuff inside here will only appear when the screen shrinks below 750px*/


@media only screen and (max-width: 650px) {
    .nav .left button {
        display: flex;
    }
    .nav .left .links {
        display: none;
    }
}

/* MENU BUTTON */
/* When the screen shrinks to the point where the menu options become smushed we want to display a button instead */
/* This turns the MENU BUTTON off. We only want it on when the screen gets too small. */
