.App {
    width: 100vh;
    height: 100vh;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 247, 241);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

input {
    appearance: none;
    display: block;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 0;
    height: 36px;
    color: #1e2525;
}

.primary-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2525;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100px;
    padding: 3px 8px;
    margin: 20px;
    font-size: 15px;
    border-radius: 0;
    height: 36px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

.icon {
    font-size: 40px;
    background-color: rgb(250, 247, 241);
    color: black;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    margin: 20px;
}

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


/* HIDDEN MENU BUTTON */
.hide {
    display: none;
}


/* MAIN CONTAINER */
.nav {
    width: 100%;
    height: 100%;
} 

/* FIRST CONTAINER - FLEX*/
.row {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* LEFT */
.nav .row .left {
    flex: 33%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* CENTER */
.row .header {
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: oblique;
    color: rgb(102, 43, 56);
    top: 16px;
    left: 40%;
    display: inline-flex;
}

/* RIGHT */
.nav .row .right {
    align-items: center;
}


/* ROW OF LINKS */
.nav .menu {
    display: flex;
    justify-content: center;
    margin-top: 10;
}

.nav .menu a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}


.nav .menu a:visited{
    color: rgb(212, 149, 80);
    text-decoration: none;
}

.nav .menu a:hover{
    color: rgb(153, 134, 114);
    text-decoration: gray wavy underline;
}






.nav #hidden {
    position: absolute;
    border-top: 3px solid #2A2B2A;
    left: 0px;
    top: 80px;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-height: 300px;
    margin: 0px;
}

.nav #hidden a {
    font-size: 20px;
    padding: 2px;
    display: block;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .nav .right a{
        font-size: 70%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 850px*/

@media only screen and (max-width: 850px) {
    .nav .right a{
        font-size: 50%;
    }
}
/* stuff inside here will only appear when the screen shrinks below 750px*/


@media only screen and (max-width: 620px) {
    .nav .hide {
        display: flex;
    }
    
    .nav .right a {
        display: none;
    }
}

/* MENU BUTTON */
/* When the screen shrinks to the point where the menu options become smushed we want to display a button instead */
/* This turns the MENU BUTTON off. We only want it on when the screen gets too small. */




